<div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
  <a href="https://flowbite-admin-dashboard.vercel.app/" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
    <img src="https://flowbite-admin-dashboard.vercel.app/images/logo.svg" class="mr-4 h-11" alt="FlowBite Logo">
    <span>Flowbite</span>
  </a>
  <!-- Card -->
  <div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
    <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
      Create a Free Account
    </h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="space-y-6">
        <div>
          <%= f.input :email,
                      label: "Your email",
                      required: true,
                      autofocus: true,
                      input_html: { class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "name@company.com", autocomplete: "email" } %>
        </div>
        <div>
          <%= f.input :password,
                      label: "Your password",
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "••••••••", autocomplete: "new-password" } %>
        </div>
        <div>
          <%= f.input :password_confirmation,
                      label: "Confirm password",
                      required: true,
                      input_html: { class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "••••••••", autocomplete: "new-password" } %>
        </div>
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <%#= f.input :terms, as: :boolean, label: false, input_html: { id: "terms", class: "w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600" } %>
          </div>
<!--          <div class="ml-3 text-sm">-->
<!--            <label for="terms" class="font-medium text-gray-900 dark:text-white">-->
<!--              I accept the <a href="#" class="text-blue-700 hover:underline dark:text-blue-500">Terms and Conditions</a>-->
<!--            </label>-->
<!--          </div>-->
        </div>
        <div>
          <%= f.button :submit, "Create account", class: "w-full px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-primary-800" %>
        </div>
        <div class="text-sm font-medium text-gray-500 dark:text-gray-400">
          Already have an account? <%= link_to "Login here", new_session_path(resource_name), class: "text-blue-700 hover:underline dark:text-blue-500" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
