<div id="<%= dom_id(@event, :counters) %>" class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
  <%= render 'events/counters/total_invited', event: event %>
  <%= render 'events/counters/pending', event: event %>
  <%= render 'events/counters/accepted', event: event %>
  <%= render 'events/counters/declined', event: event %>
  <%= render 'events/counters/check_in', event: event %>
  <%= render 'events/counters/no_show', event: event %>
</div>